<html>
    <head>
        <title><%=message.user %></title>
        <link rel="stylesheet" href="/messageStyle.css">
    </head>
    <body>
        <div class="posted-message">
            <h1>Post from <%=message.user %></h1>
            <p> <%= message.text %></p>
            <p><strong>Posted:</strong></p>
            <%= message.added %>
        </div>

    </body>
</html>
