.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 700px;
}

.container > div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.navbar > ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.list {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.message {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    list-style-type: none;
}